{% extends 'base.html' %}

{% block title %}
Animal Facts
{% endblock %}

{% block content %}
<h1>Animal Facts</h1>
<form action="/animal_facts" method="GET">
    <fieldset>
        <legend>Your Info:</legend>

        <label>
            Which animal do you want facts on?

            <!-- Iterate through list of animals to display them in a drop-down menu -->
            <select name="animal">
                {% for item in animals %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </label>

        <input type="submit" value="Get Fact!">
    </fieldset>
</form>

<!-- Display the interesting fact for the selected animal choice -->
<section id="form_results">
    {% if animal_fact != None %}
        <p>
            Here is your animal fact:
        </p>
        <p>
            <em>{{ animal_fact }}</em>
        </p>
    {% endif %}
</section>

{% endblock %}